---
---

//
// IMPORTS
//

//@import "reset";
//@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/
body {
  background-color: #ffffff;
  font-family: "ralewayregular";
  margin: 20px;
  text-align: left;
}

a{
  color: #00274C; 
  font-family: "ralewaybold";   
  text-decoration:none;
}

b {
  font-family: "ralewaybold"; 
    font-weight: normal;
}

a:hover{
  color: #FFCB05;
}

img{
  display: inline;
}
.img-with-text {
    text-align: justify;
    width: 720px;
}

.img-with-text img {
    display: block;
    margin: 0 auto;
}

.image-cropper {
    width: 200px;
    height: 200px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.image-thumbnail {
    width: 200px;
    position: relative;
    overflow: hidden;
}

.images {
    width: 100%;
    height: 60%;
    position: relative;
    overflow: hidden;
    border-radius: 0%;
}

.robot-images {
	max-height:300px
}

.container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#buttons{
  padding-left: 50px;
  margin: 10px 10px 10px 10px;
  display: block;
  background: #ffffff;
  word-spacing: 10px;
  text-align: left;
}

#academicbuttons{
  padding-left: 50px;
  margin: 10px 10px 10px 10px;
  display: block;
  background: #ffffff;
  word-spacing: 10px;
  text-align: left;
}

#name{
  padding-left: 50px;   
  margin: 10px 10px 10px 10px;
  font-size: 78px;
  font-family: "ralewaybold";
  letter-spacing: -2px;
}

#text {
  padding-left: 60px;
  width: 680px;
  text-align: justify;
}

#the { color: #666666;}

#fluent { color: #FFCB05;}

#robotics { color: #00274C;}

.link {
  display: inline;
  font-size: 40px;
  text-decoration:none;
  font-family: "ralewaybold";
}

/* raleway-regular - latin */
@font-face {
    font-family: 'ralewayregular';
    src: local('../fonts/ralewayregular'), local('../fonts/raleway-regular-webfont'),
       url('../fonts/raleway-regular-webfont.woff2') format('woff2'),
       url('../fonts/raleway-regular-webfont.woff') format('woff');    
    font-weight: normal;
    font-style: normal;       
}
/* raleway-700 - latin */
@font-face {
    font-family: 'ralewaybold';
    src: local('../fonts/ralewaybold'), local('../fonts/raleway-bold-webfont'),
       url('../fonts/raleway-bold-webfont.woff2') format('woff2'),
       url('../fonts/raleway-bold-webfont.woff') format('woff');    
    font-weight: 900;
    font-style: normal;          
}

@media screen and (max-width: 850px) {

  #name {
    font-size: 8.7vw;

  }

  #buttons {
    font-size: 2vw;   
    width:10%;
  }

  #academicbuttons {
    font-size: 2.8vw;   
    width:75%;
  }

    #text {
      width:86%;
    }

    .image-cropper {
  width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
  }

    .images {
  width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 0%;
  } 

}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
//@import "highlights";
//@import "svg-icons";
